<link rel="canonical" href="{{ .Permalink }}"> <!--Make the main link the only one for search engines -->

{{ if or .Params.math .Site.Params.math }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">

<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" 
    onload="renderMathInElement(document.body, {
        delimiters: [
            {left: '$$', right: '$$', display: true},
            {left: '$', right: '$', display: false},
            {left: '\\(', right: '\\)', display: false},
            {left: '\\[', right: '\\]', display: true}
        ],
        throwOnError : false
    });"></script>

<script>
    // Ensure Math renders when expanding abstracts
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll("details").forEach((el) => {
            el.addEventListener("toggle", () => {
                if (el.open && window.renderMathInElement) {
                    renderMathInElement(el, {
                        delimiters: [
                            {left: '$$', right: '$$', display: true},
                            {left: '$', right: '$', display: false}
                        ],
                        throwOnError : false
                    });
                }
            });
        });
    });
</script>
{{ end }}